/* Day Chooser Carousel Styles */
.carouselItem {
    width: calc(100% / 3 - 20px) !important;
    overflow: hidden;
}

.carouselContainer {
    padding: 0 50px;
    width: 100%;
}

@media (max-width: 900px) {
    .carouselContainer {
        padding: 0;
    }
    .carouselItem {
        width: auto !important;
    }
}
